.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.35s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite alternate-reverse both;
	        animation: tracking-in-expand 1.35s cubic-bezier(0.215, 0.610, 0.355, 1.000) infinite alternate-reverse both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

.rotate-90-cw {
	-webkit-animation: rotate-90-cw 1s linear infinite both;
	        animation: rotate-90-cw 1s linear infinite both;
}

@-webkit-keyframes rotate-90-cw {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
    }
  }
  @keyframes rotate-90-cw {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
    }
  }
  
.rotate-90-cw1 {
	-webkit-animation: rotate-90-cw 1.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate-reverse both;
	        animation: rotate-90-cw 1.5s cubic-bezier(0.445, 0.050, 0.550, 0.950) infinite alternate-reverse both;
}

@-webkit-keyframes rotate-90-cw1 {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
    }
  }
  @keyframes rotate-90-cw1 {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
    }
  }

  .flip-vertical-left {
	-webkit-animation: flip-vertical-left 2s ease-in-out infinite alternate both;
	        animation: flip-vertical-left 2s ease-in-out infinite alternate both;
}

@-webkit-keyframes flip-vertical-left {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg);
    }
  }
  @keyframes flip-vertical-left {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg);
    }
  }